#intro{
  background-image:url("/home/june/Documents/anitas-kitchen/assets/backgrounds/landing.jpg");
background-size: cover;
background-attachment: fixed;
  padding: auto;
  margin: auto;
  height: 800px;
}
#logo{
  padding-left: 100px;
  padding-bottom: 0px;
}
