#intro{
  background-image:url("/home/june/Documents/anitas-kitchen-project/assets/backgrounds/landing.jpg");
background-size: cover;
background-repeat: no-repeat;
  padding: auto;
  margin: auto;
  height: 800px;
}
#logo{
  padding-left: 100px;
  padding-bottom: 0px;
}
#breakfast{
  background-image:url("/home/june/Documents/anitas-kitchen-project/assets/foodtop/breakfast.jpg");
  background-size: cover;
  repeat:no-repeat;
  padding:115px;
  hover: background-color: white;
  }
  #dinner{
  background-image:url("/home/june/Documents/anitas-kitchen-project/assets/foodtop/dinner.jpg");
  background-size: cover;
  padding:115px;
}
#lunch{
  background-image: url("/home/june/Documents/anitas-kitchen-project/assets/foodtop/lunch.jpg");
  background-size: cover;
  padding:115px;
}
#party{
  background-color: #F15A29;
  padding:40px;
}
#happy{
  padding:40px;
  background-color: grey;
}
